.about {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

.about__title {
  margin: 0 0 28px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 38px;
    font-size: 53px;
    line-height: 57px;
    max-width: 700px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
    "flower threads"
    "style rocket"
    "heart gift";
    gap: 53px 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 700px;
  }
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  min-height: 95px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    min-height: 102px;
  }
}

.about__item--flower {
  grid-area: flower;
}

.about__item--style {
  grid-area: style;
}

.about__item--heart {
  grid-area: heart;
}

.about__item--threads {
  grid-area: threads;
}

.about__item--rocket {
  grid-area: rocket;
}

.about__item--toy {
  grid-area: toy;
}

.about__icon {
  margin-left: 2px;
}
