.location {
  padding-top: 38px;
}

.location__title {
  margin: 0 0 28px;
  font-size: 25px;
  line-height: 30px;
}

.location__address {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: $charcoal;
  margin-bottom: 62px;
}

.location__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px 16px;
}

.location__data {
  margin: 0;
}

.location__link {
  text-decoration: none;
  color: $charcoal;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $downy2;
    bottom: -3px;
  }

  &:hover {
    color: $downy;
  }

  &:active {
    &::before {
    opacity: 0.1;
  }
  }
}

.location__map {
  margin-bottom: 37px;
}

.location__map--nojs {
  display: none;
}
