.location {
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }
}

.location-container {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.location__icon {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -23px;
    right: 3px;
  }
}

.location__title {
  margin: 0 0 28px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    max-width: 500px;
  }
}

.location__address {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: $charcoal;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 48px;
  }
}

.location__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 71px 1fr 70px 1fr;
    gap: 10px 5px;
  }
}

.location__data {
  margin: 0;
}

.location__link {
  text-decoration: none;
  color: $charcoal;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $downy2;
    bottom: -3px;
  }

  &:hover {
    color: $downy;
  }

  &:active {
    &::before {
      opacity: 0.1;
    }
  }
}

.location__map {
  margin-bottom: 37px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
}

.location__map--nojs {
  display: none;
}

.location__map-img {
  margin-bottom: 39px;
  width: 100%;
  object-fit: cover;
}

.location__button {
  @media (min-width: $tablet-width) {
    max-width: 230px;
    margin: 0 auto;
  }
}
