.order-form {
  padding-top: 17px;
}

.order-form__slogan {
  margin: 0 0 30px;
  color: $charcoal;
  font-size: 13px;
  line-height: 24px;
}

.order-form__radio {
  @media (max-width: $mobile-width) {
    position: relative;
  }
}

.order-form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $downy;
  background-color: $white;
  text-transform: uppercase;
  max-width: 150px;
  padding: 0 23px 0 0;
  margin-bottom: 34px;

  @media (max-width: $mobile-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $downy;
      z-index: -1;
      top: 7px;
    }
  }
}
